#personal-todo-list-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 auto;
  margin-bottom: 4%;
  font-family: "montserrat";
}

#empty-personal-todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "a bit empty";
  background-color: var(--empty-personal-todo-list-bg);
  width: 700px;
  margin: 0 auto;
  padding: .4rem;
  border-radius: 30px;
  box-shadow: 0 0 22px var(--dark-shadow);
  ::selection {
    background-color: var(--selection-text);
    color: var(--selection-bg);
  }
}

#empty-personal-todo-list #empty-personal-todo-list-text {
  color: var(--empty-personal-todo-list-text);
}

#empty-personal-todo-list #empty-personal-todo-list-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 1.8%;
  margin-bottom: 4%;
}

#empty-personal-todo-list #empty-personal-todo-list-options button {
  width: 270px;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "plasmatic";
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--empty-personal-todo-list-button-bg);
  transition: .16s;
}

#empty-personal-todo-list #empty-personal-todo-list-options button:hover {
  background-color: var(--empty-personal-todo-list-button-bg-hover);
  transform: scale(1.04);
}

#todo-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 600px;
  gap: 50px;
  border-radius: 30px;
  background-color: var(--card-bg);
  box-shadow: 0 0 22px var(--dark-shadow);
  padding: 2rem;
  margin-bottom: 5%;
}

#todo-list-wrapper #todo-list-wrapper-title {
  text-transform: uppercase;
  font-size: 17px;
  font-size: 20px;
  font-family: "a bit empty";
}

#todo-list-wrapper .todo-item {
  font-family: "orbitron";
  font-size: 22px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: var(--todo-item-bg);
  box-shadow: 0 4px 8px var(--dark-shadow);
  border-radius: 30px;
  transition: .16s;
  padding: .2rem;
}

#todo-list-wrapper .todo-item:hover {
  transform: scale(1.04);
  box-shadow: 0 9px 8px var(--dark-shadow);
}

#todo-list-wrapper .todo-item .todo-item-description {
  margin-bottom: 5%;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  text-align: center;
}

#todo-list-wrapper .todo-item .todo-item-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#todo-list-wrapper .todo-item .todo-item-options img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: .14s;
}

#todo-list-wrapper .todo-item .todo-item-options img:hover {
  transform: scale(1.3);
}

.navbar-side-left {
  display: flex;
  gap: 0.7rem;
  justify-content: left;
  margin-right: 2%;
  font-size: 9px;
  align-items: center;
}

.navbar-side-left a {
  text-decoration: none;
}

.navbar-side-left .navbar-side-text {
  text-decoration: none;
  color: var(--navbar-text);
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: bold;
  cursor: pointer;
  position: relative;
  bottom: 2px;
}

.navbar-side-left img {
  cursor: pointer;
}