:root {
  --selection-bg: #131313bb;
  --selection-text: #e2e2e2;

  --navbar-bg: #272727;
  --navbar-text: #f7f7f7;

  --page-bg: #e9e9e9;

  --dark-shadow: #0f0f0f;
  --light-shadow: #f8f0f0;

  --card-bg: #d8d8d8;
  --method-button-bg: #fd6717ce;
  --method-button-text: #f7f7f7;
  --method-button-hover-text: #292929;

  --method-form-bg: #fd6717ce;
  --method-form-inputs-bottom-border: #c05014ce;
  --method-form-inputs-bottom-border-darker: #79390bce;
  --method-form-submit-bg: #f7f7f7;

  --empty-personal-todo-list-bg: #383838;
  --empty-personal-todo-list-text: #f1f1f1;
  --empty-personal-todo-list-button-bg: #f0ebe8ee;
  --empty-personal-todo-list-button-bg-hover: #f0ebe8c7;

  --create-new-todo-textarea-bg: #e7e7e7b0;
  --create-new-todo-textarea-bg-focus: #e7e7e7;
  --create-new-todo-textarea-bg-hover: #e7e7e7c7;

  --todo-item-bg: #acacac;
}

@font-face {
  font-family: "clip";
  src: url("../fonts/clip/regular.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/regular.ttf");
}

@font-face {
  font-family: "plasmatic";
  src: url("../fonts/plasmatic/regular.ttf");
}

@font-face {
  font-family: "a bit empty";
  src: url("../fonts/a-bit-empty/regular.ttf");
}

@font-face {
  font-family: "orbitron";
  src: url("../fonts/orbitron/regular.ttf");
}

* {
  cursor: default;
}

::selection {
  background-color: var(--selection-bg);
  color: var(--selection-text);
}

body {
  margin: 0;
  background-color: var(--page-bg);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px;
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  ::selection {
    background-color: var(--selection-text);
    color: var(--selection-bg);
  }
}

.page-title {
  flex-grow: 1;
  text-align: center;
  text-transform: uppercase;
  font-family: "clip";
  font-size: 38px;
}

.navbar-side {
  display: flex;
  gap: 0.7rem;
  justify-content: right;
  margin-right: 2%;
  font-size: 9px;
  align-items: center;
}

.navbar-side a {
  text-decoration: none;
}

.navbar-side .navbar-side-text {
  text-decoration: none;
  color: var(--navbar-text);
  text-transform: uppercase;
  font-family: "montserrat";
  font-weight: bold;
  cursor: pointer;
  position: relative;
  bottom: 2px;
}

.navbar-side img {
  cursor: pointer;
}

.page-subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 23px;
  margin: 2% auto;
  margin-bottom: 4%;
  font-family: "montserrat";
}