<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "utf-8" />
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />
    <title>TODO LIST</title>
    <link rel = "stylesheet" href = "../css/general.css" />
    <link rel = "stylesheet" href = "../css/methods.css" />
  </head>
  <body>
    <div class = "navbar">
      <div class = "empty-navbar-div"></div>

      <h1 class = "page-title">todo list</h1>

      <div class = "empty-navbar-div"></div>
    </div>

    <h2 class = "page-subtitle">iniciar sesión</h2>

    <div id = "login-container">
      <form method = "post" action = "../php/login.php">
        <label for = "username">usuario</label>
        <input id = "username" type = "text" name = "login-username" autofocus autocomplete = "off" onfocus = "this.select()" />

        <label for = "password">contraseña</label>
        <input id = "password" type = "password" name = "login-password" autocomplete = "off" onfocus = "this.select()" />

        <input type = "submit" value = "iniciar sesión" />
      </form>

      <div class = "other-options">
        <a href = "signup.html"><button>registrarse</button></a>
        <a href = "index.html"><button>cancelar</button></a>
      </div>
    </div>
  </body>
</html>