<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "utf-8" />
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />
    <title>TODO LIST</title>
    <link rel = "stylesheet" href = "../css/general.css" />
    <link rel = "stylesheet" href = "../css/create-new-todo.css" />
  </head>
  <body>
    <div class = "navbar">
      <div class = "empty-navbar-div"></div>

      <h1 class = "page-title">todo list</h1>

      <div class = "navbar-side">
        <a href = "../php/sign-out.php"><img src = "../icons/sign-out.svg" alt = "sign out icon" /></a>
        <a href = "../php/sign-out.php"><span class = "navbar-side-text">cerrar sesión</span></a>
      </div>
    </div>

    <h2 class = "page-subtitle">creación de una nueva tarea</h2>

    <div id = "create-new-todo-container">
      <form method = "post" action = "../php/create-new-todo.php">
        <label for = "new-todo-title">título</label>
        <input id = "new-todo-title" type = "text" name = "new-todo-title" autofocus autocomplete = "off" onfocus = "this.select()" />

        <label for = "password">descripción</label>
        <textarea id = "new-todo-description" name = "new-todo-description" onfocus = "this.select()"></textarea>

        <input type = "submit" value = "crear" />
      </form>

      <div class = "other-options">
        <a href = "content.view.php"><button>cancelar</button></a>
      </div>
    </div>
  </body>
</html>