<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset = "utf-8" />
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0" />
    <title>TODO LIST</title>
    <link rel = "stylesheet" href = "../css/general.css" />
    <link rel = "stylesheet" href = "../css/index.css" />
  </head>
  <body>
    <div class = "navbar">
      <div class = "empty-navbar-div"></div>

      <h1 class = "page-title">todo list</h1>

      <div class = "navbar-side">
        <a href = "login.html"><img src = "../icons/user.svg" alt = "user icon" /></a>
        <a href = "login.html"><span class = "navbar-side-text">iniciar sesión</span></a>
      </div>
    </div>

    <h2 class = "page-subtitle">selecciona un método</h2>

    <div id = "two-ways-container">
      <div id = "login-wrapper" class = "option-container">
        <img src = "../icons/sign-in.svg" alt = "sign in icon" />
        <a href = "login.html"><button>iniciar sesión</button></a>
      </div>

      <div id = "signup-wrapper" class = "option-container">
        <img src = "../icons/sign-up.svg" alt = "sign up icon" />
        <a href = "signup.html"><button>registrarse</button></a>
      </div>
    </div>
  </body>
</html>